In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv(
    'data/mp.csv', 
    header=None,
    names=['timestamp','price'],
    parse_dates=True,
    )

In [56]:
df.head()

             timestamp        price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [ ]:
# Row 50-100, get prices only
df.iloc[50:100, -1]

50    2090.662313
51    2287.710288
52    2379.193833
53    2387.206286
54    2211.976857
55    2014.052962
56    2192.980800
57    2275.930700
58    2239.205343
59    2285.933914
60    2399.242671
61    2446.142414
62    2525.765158
63    2516.173143
64    2698.313813
65    2883.313697
66    2664.920863
67    2792.999188
68    2827.491300
69    2845.372857
70    2961.829613
71    2657.675062
72    2748.185086
73    2447.041563
74    2442.480250
75    2464.959814
76    2665.927000
77    2507.389252
78    2617.210263
79    2754.978250
80    2671.043250
81    2727.288013
82    2710.412286
83    2589.164888
84    2512.366286
85    2436.451057
86    2517.903114
87    2585.349186
88    2544.414475
89    2477.641375
90    2434.077862
91    2501.191343
92    2561.225429
93    2599.729838
94    2619.187503
95    2609.967750
96    2491.201214
97    2562.130663
98    2536.238937
99    2366.170143
Name: price, dtype: float64

In [ ]:
# Get two specific rows, and their time only
df.iloc[[65,98],0]

65    2017-06-06 00:00:00
98    2017-07-09 00:00:00
Name: timestamp, dtype: object

In [ ]:
# Leaving second paramenter empty gets all the columns
df.iloc[[65,98]]

              timestamp        price
65  2017-06-06 00:00:00  2883.313697
98  2017-07-09 00:00:00  2536.238937

In [64]:
df

               timestamp        price
0    2017-04-02 00:00:00  1099.169125
1    2017-04-03 00:00:00  1141.813000
2    2017-04-04 00:00:00  1141.600363
3    2017-04-05 00:00:00  1133.079314
4    2017-04-06 00:00:00  1196.307937
..                   ...          ...
360  2018-03-28 00:00:00  7960.380000
361  2018-03-29 00:00:00  7172.280000
362  2018-03-30 00:00:00  6882.531667
363  2018-03-31 00:00:00  6935.480000
364  2018-04-01 00:00:00  6794.105000

[365 rows x 2 columns]