In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [ ]:
df

In [ ]:
df.index=['Canada','America','Iceland','Russia','Australia','Korea','China']

In [ ]:
df

In [ ]:
df.loc['China','Language'] = 'Mandrin'
df

In [ ]:
df.loc["Canada":"Korea", "Language"] = "English"
df

In [ ]:
df.rename(
    columns={
        'HDI': 'Human Development Interest',
        'GDP': 'Gross Domestic Product'
    },
    index={
        "Canada": "CAN",
        "Russia": "RU",
        "America": "US",
        "Iceland": "IC",
        "Australia": "AU",
        "China": "CH",
        "Korea": "KE"
    })

In [ ]:
#Adding a row
df.loc["Brazil"] = [543.56,23456,76543,0.99,"South America","Spanish"]
df

In [ ]:
#no lock specifies columns
df["Deaths"] = 0
df

In [ ]:
df.loc["America":"Korea", "Deaths"] = 1009
df

In [ ]:
df.iloc[[0,-1],-1] = 34.54
df

In [ ]:
df.Deaths.nunique() #<=> Another way to use methods no columns

In [ ]:
df

In [ ]:
df.loc[df["GDP"] > 220000, ["GDP","HDI"]]

In [ ]:
df

In [ ]:
criss = pd.Series([-200,34], index=['GDP','HDI'])
criss

In [ ]:
df[['GDP','HDI']]

In [ ]:
df[['GDP','HDI']] + criss

In [ ]:
df.rename(
    columns={
        'HDI':'Human Development Index',
        'GDP': 'Gross Domestic Product'
    }, index={
        'America': 'US',
        'Iceland': 'IU'
    },
)

In [36]:
df.loc['North Korea'] = pd.Series({
    'GDP':23,
    'HDI':859
},)

In [37]:
df

             Population         GDP  Surface Area      HDI Continent   Deaths
Canada           35.467   1785387.0     9984670.0    0.913   America    34.54
America          63.951   2833687.0      640679.0    0.888    Europe  1009.00
Iceland          80.940   3874437.0      357114.0    0.916    Europe  1009.00
Russia           60.665   2167744.0      301336.0    0.873    Europe  1009.00
Australia       127.061   4602367.0      377930.0    0.891      Asia  1009.00
Korea            64.511   2950039.0      242495.0    0.907    Europe  1009.00
China           318.523  17348075.0     9525067.0    0.915   America    34.54
North Korea         NaN        23.0           NaN  859.000       NaN      NaN

In [49]:
df.loc['North Korea', 'Population'] = 9853
df

             Population         GDP  Surface Area      HDI Continent   Deaths
Canada           35.467   1785387.0     9984670.0    0.913   America    34.54
America          63.951   2833687.0      640679.0    0.888    Europe  1009.00
Iceland          80.940   3874437.0      357114.0    0.916    Europe  1009.00
Russia           60.665   2167744.0      301336.0    0.873    Europe  1009.00
Australia       127.061   4602367.0      377930.0    0.891      Asia  1009.00
Korea            64.511   2950039.0      242495.0    0.907    Europe  1009.00
China           318.523  17348075.0     9525067.0    0.915   America    34.54
North Korea    9853.000        23.0           NaN  859.000       NaN      NaN

In [58]:
df.loc[['North Korea','Korea'], 'Surface Area'] = 10000
df.drop(df['Surface Area\t'])
df

KeyError: '[nan, nan, nan, nan, nan, nan, nan, 10000.0] not found in axis'

In [62]:
df

,Population,GDP,Surface Area,HDI,Continent,Deaths,Surface Area\t
Canada,35.467,1785387.0,9984670.0,0.913,America,34.54,NaN
America,63.951,2833687.0,640679.0,0.888,Europe,1009.00,NaN
Iceland,80.940,3874437.0,357114.0,0.916,Europe,1009.00,NaN
Russia,60.665,2167744.0,301336.0,0.873,Europe,1009.00,NaN
Australia,127.061,4602367.0,377930.0,0.891,Asia,1009.00,NaN
Korea,64.511,2950039.0,10000.0,0.907,Europe,1009.00,NaN
China,318.523,17348075.0,9525067.0,0.915,America,34.54,NaN
North Korea,9853.000,23.0,10000.0,859.000,NaN,NaN,10000.0

In [63]:
df['Pop. Per Sur.Area'] = df['Population'] / df['Surface Area']
df

,Population,GDP,Surface Area,HDI,Continent,Deaths,Surface Area\t,Pop. Per Sur.Area
Canada,35.467,1785387.0,9984670.0,0.913,America,34.54,NaN,0.000004
America,63.951,2833687.0,640679.0,0.888,Europe,1009.00,NaN,0.000100
Iceland,80.940,3874437.0,357114.0,0.916,Europe,1009.00,NaN,0.000227
Russia,60.665,2167744.0,301336.0,0.873,Europe,1009.00,NaN,0.000201
Australia,127.061,4602367.0,377930.0,0.891,Asia,1009.00,NaN,0.000336
Korea,64.511,2950039.0,10000.0,0.907,Europe,1009.00,NaN,0.006451
China,318.523,17348075.0,9525067.0,0.915,America,34.54,NaN,0.000033
North Korea,9853.000,23.0,10000.0,859.000,NaN,NaN,10000.0,0.985300

In [72]:
df.head()

,Population,GDP,Surface Area,HDI,Continent,Deaths,Surface Area\t,Pop. Per Sur.Area
Canada,35.467,1785387.0,9984670.0,0.913,America,34.54,NaN,0.000004
America,63.951,2833687.0,640679.0,0.888,Europe,1009.00,NaN,0.000100
Iceland,80.940,3874437.0,357114.0,0.916,Europe,1009.00,NaN,0.000227
Russia,60.665,2167744.0,301336.0,0.873,Europe,1009.00,NaN,0.000201
Australia,127.061,4602367.0,377930.0,0.891,Asia,1009.00,NaN,0.000336

In [74]:
df.tail()

,Population,GDP,Surface Area,HDI,Continent,Deaths,Surface Area\t,Pop. Per Sur.Area
Russia,60.665,2167744.0,301336.0,0.873,Europe,1009.00,NaN,0.000201
Australia,127.061,4602367.0,377930.0,0.891,Asia,1009.00,NaN,0.000336
Korea,64.511,2950039.0,10000.0,0.907,Europe,1009.00,NaN,0.006451
China,318.523,17348075.0,9525067.0,0.915,America,34.54,NaN,0.000033
North Korea,9853.000,23.0,10000.0,859.000,NaN,NaN,10000.0,0.985300

In [ ]:
#We can assign a variable to a column and still use statistcs on that variable.
population = df['Population']

In [78]:
population.min(), population.max()

(np.float64(35.467), np.float64(9853.0))

In [80]:
population.sum() / len(population)

np.float64(1325.5147499999998)

In [82]:
population.mean()

np.float64(1325.5147499999998)

In [ ]:
population.quantile(.25)

np.float64(63.1295)

In [85]:
population.quantile(.50)

np.float64(72.7255)

In [86]:
population.quantile(.75)

np.float64(174.9265)