In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'Population': [6543,987,673,300],
    'GDP':[
        90050,
        87654,
        3652,
        9385
    ],
    'Exports':[67,64,234,65],
    'Surface Area': [23,53,64,21],
    'HDI':[
        34,
        34,
        65,
        78
    ],
    'Continents':[
        'Asia',
        'North America',
        'Svoiet',
        'South America'
    ]
}, columns=['Population','GDP','Exports','Surface Area','HDI'], index = ['Continents','BAS','ASD','popl'])

In [3]:
# Countries
df.index = [
        'Japan',
        'America',
        'Russia',
        'Brazil'
]

In [4]:
df["Population"] > 700

Japan       True
America     True
Russia     False
Brazil     False
Name: Population, dtype: bool

In [5]:

df.loc[(df["Population"] > 800) | (df["Population"] < 400)]

         Population    GDP  Exports  Surface Area  HDI
Japan          6543  90050       67            23   34
America         987  87654       64            53   34
Brazil          300   9385       65            21   78

In [44]:

df.loc[df["Population"] > 900, ["GDP","Exports","Population"]]

           GDP  Exports  Population
Japan    90050       67        6543
America  87654       64         987

In [47]:
df

         Population    GDP  Exports  Surface Area  HDI
Japan          6543  90050       67            23   34
America         987  87654       64            53   34
Russia          673   3652      234            64   65
Brazil          300   9385       65            21   78

In [50]:
df.drop(["Japan"])

         Population    GDP  Exports  Surface Area  HDI
America         987  87654       64            53   34
Russia          673   3652      234            64   65
Brazil          300   9385       65            21   78

In [6]:
df

         Population    GDP  Exports  Surface Area  HDI
Japan          6543  90050       67            23   34
America         987  87654       64            53   34
Russia          673   3652      234            64   65
Brazil          300   9385       65            21   78

In [8]:
df.loc["Japan":"Russia","HDI"] = 50
df

         Population    GDP  Exports  Surface Area  HDI
Japan          6543  90050       67            23   50
America         987  87654       64            53   50
Russia          673   3652      234            64   50
Brazil          300   9385       65            21   78

In [9]:
df.loc[["America","Brazil"],"HDI"] = 60
df

         Population    GDP  Exports  Surface Area  HDI
Japan          6543  90050       67            23   50
America         987  87654       64            53   60
Russia          673   3652      234            64   50
Brazil          300   9385       65            21   60