In [1]:
import pandas as pd
import numpy as np

In [36]:

countries = pd.Series([124,987,56,23,53,12,86,912,764,34])

In [37]:
countries.name = 'Countries Population Index'
countries.index = ['Japan','United States','Mexico','Ireland','Switzerland','Brazil','Spain','Korea','China','Cambodia']
countries

Japan            124
United States    987
Mexico            56
Ireland           23
Switzerland       53
Brazil            12
Spain             86
Korea            912
China            764
Cambodia          34
Name: Countries Population Index, dtype: int64

In [24]:
# get Countries that are less than 500. terminal should output index and population number
countries[countries < 500]

Japan          124
Mexico          56
Ireland         23
Switzerland     53
Brazil          12
Spain           86
Cambodia        34
Name: Countries Population Index, dtype: int64

In [25]:
# get Countries that are greater than 500. terminal should output index and population number.
countries[countries>500]

United States    987
Korea            912
China            764
Name: Countries Population Index, dtype: int64

In [28]:
# get the 3rd country and 8th countrey by index number
countries[[2,7]]

C:\Users\Decanus\AppData\Local\Temp\ipykernel_5100\4279238270.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  countries[[2,7]]

Mexico     56
Korea     912
Name: Countries Population Index, dtype: int64

In [ ]:
countries.mean

C:\Users\Decanus\AppData\Local\Temp\ipykernel_5100\1215151417.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  countries[1]

np.int64(987)

In [29]:
# number > get one index and its mean divided by 2 as well as thr
countries[countries > countries.mean() / 2]

United States    987
Korea            912
China            764
Name: Countries Population Index, dtype: int64

In [36]:
# number > get one index and its median divided by 2 as well as thr
countries[countries > countries.median() / 2]

Japan            124
United States    987
Mexico            56
Switzerland       53
Spain             86
Korea            912
China            764
Name: Countries Population Index, dtype: int64

In [ ]:
#Just a test with using parameters for assigning name and indexes names.
#============
# testCountries = pd.Series([124,987,764,34], name="~4 Countries~",index=["America","Jamica","Iceland","France"])
# testCountries

America    124
Jamica     987
Iceland    764
France      34
Name: ~4 Countries~, dtype: int64

In [10]:
countries[::-1]

Cambodia          34
China            764
Korea            912
Spain             86
Brazil            12
Switzerland       53
Ireland           23
Mexico            56
United States    987
Japan            124
Name: Countries Population Index, dtype: int64

In [24]:
countries.sort_values()[countries > 100]

Japan            124
China            764
Korea            912
United States    987
Name: Countries Population Index, dtype: int64

In [27]:
# How many times that value/index actually appears. Each country appeared only once
countries.value_counts()

Countries Population Index
124    1
987    1
56     1
23     1
53     1
12     1
86     1
912    1
764    1
34     1
Name: count, dtype: int64

In [38]:
countries

Japan            124
United States    987
Mexico            56
Ireland           23
Switzerland       53
Brazil            12
Spain             86
Korea            912
China            764
Cambodia          34
Name: Countries Population Index, dtype: int64

In [ ]:
countries.std() #standard deviation

np.float64(406.7889023942407)

In [40]:
countries.mean()

np.float64(305.1)

In [41]:
countries.sum()

np.int64(3051)

In [42]:
countries.median()

np.float64(71.0)

In [43]:
countries.mode()

0     12
1     23
2     34
3     53
4     56
5     86
6    124
7    764
8    912
9    987
Name: Countries Population Index, dtype: int64

In [ ]:
np.log(countries)

Japan            4.820282
United States    6.894670
Mexico           4.025352
Ireland          3.135494
Switzerland      3.970292
Brazil           2.484907
Spain            4.454347
Korea            6.815640
China            6.638568
Cambodia         3.526361
Name: Countries Population Index, dtype: float64

In [47]:
countries[(countries > 700) & (countries < 1000) ]

United States    987
Korea            912
China            764
Name: Countries Population Index, dtype: int64

In [48]:
countries[["Japan","Mexico","Spain"]] = 10000
countries.sort_values()

Brazil              12
Ireland             23
Cambodia            34
Switzerland         53
China              764
Korea              912
United States      987
Japan            10000
Mexico           10000
Spain            10000
Name: Countries Population Index, dtype: int64

In [54]:
countries.sort_values()[::-1]

Spain            10000
Mexico           10000
Japan            10000
United States      987
Korea              912
China              764
Switzerland         53
Cambodia            34
Ireland             23
Brazil              12
Name: Countries Population Index, dtype: int64

In [55]:
countries.sort_values()["Switzerland":"Japan"]

Switzerland         53
China              764
Korea              912
United States      987
Japan            10000
Name: Countries Population Index, dtype: int64

In [ ]:
# for all countrries greater than 900 += countries (everynumber in country series) + 345
countries[countries > 900] += (countries+345)
countries.sort_values()[::-1]

Spain            82415
Mexico           82415
Japan            82415
United States    10311
Korea             9711
China              764
Switzerland         53
Cambodia            34
Ireland             23
Brazil              12
Name: Countries Population Index, dtype: int64

In [2]:
data = np.genfromtext(str('/fcc_github_files/intro-to-pandas_files/data/btc-market-price.csv'), delimiter = ',',names=True, dtype=None, encoding='UTF')

AttributeError: module 'numpy' has no attribute 'genfromtext'