In [2]:
import pandas as pd
import numpy as np

In [2]:
pd.isna(np.nan)

True

In [3]:
pd.isna(None)

True

In [4]:
pd.notna(np.nan)

False

In [ ]:
pd.notna(None)

True

In [3]:
pd.isna(pd.Series([1,np.nan,3]))

0    False
1     True
2    False
dtype: bool

In [4]:
pd.notna(pd.Series([1,np.nan,3]))

0     True
1    False
2     True
dtype: bool

In [ ]:
# True for not null values
pd.notna(pd.DataFrame({
    "Names": ["Dean",np.nan,"George"],
    "Age": [np.nan,54,74],
    "Date": ["2017-08-09","2002-09-04",np.nan]
},))

   Names    Age   Date
0   True  False   True
1  False   True   True
2   True   True  False

In [ ]:
# True for null values
pd.isna(pd.DataFrame({
    "Names": ["Dean",np.nan,"George"],
    "Age": [np.nan,54,74],
    "Date": ["2017-08-09","2002-09-04",np.nan]
},))

   Names    Age   Date
0  False   True  False
1   True  False  False
2  False  False   True

Note True is 1
Note False is 0

In [9]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [11]:
pd.notna(s).sum

<bound method Series.sum of 0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool>

In [12]:
pd.isna(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [13]:
s[pd.isna(s)]

3   NaN
4   NaN
dtype: float64

In [14]:
s[pd.notna(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [15]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [16]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64