In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})

In [5]:
pd.notna(df)

   Column A  Column B  Column C  Column D
0      True      True     False      True
1     False      True      True      True
2      True      True      True      True
3     False     False      True      True

In [20]:
df.isna().sum()

Column A    2
Column B    1
Column C    1
Column D    0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 260.0 bytes

In [ ]:
# Gets quick reference of how many null values there is
#
df.isna().sum()

Column A    2
Column B    1
Column C    1
Column D    0
dtype: int64

In [ ]:
# Will ANY ROLE that has null value. only a ROW with values will be kept.
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [28]:
# Need x amount of values to keep the row
df.dropna(thresh=3)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

In [ ]:
#drop any column that doesnt meet threshold
df.dropna(thresh=3, axis='columns')

   Column B  Column C  Column D
0       2.0       NaN         5
1       8.0       9.0         8
2      31.0      32.0        34
3       NaN     100.0       110

In [ ]:
df.dropna(how='all') # how ='any' is default value

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [4]:
df.fillna(20)

   Column A  Column B  Column C  Column D
0       1.0       2.0      20.0         5
1      20.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      20.0      20.0     100.0       110

In [5]:
df.fillna(method='ffill')

C:\Users\Decanus\AppData\Local\Temp\ipykernel_7416\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [6]:
df.fillna(method='bfill')

C:\Users\Decanus\AppData\Local\Temp\ipykernel_7416\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

   Column A  Column B  Column C  Column D
0       1.0       2.0       9.0         5
1      30.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [7]:
df.fillna(method='ffill', axis=0)

C:\Users\Decanus\AppData\Local\Temp\ipykernel_7416\3122255136.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', axis=0)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110