In [1]:
import pandas as pd
import numpy as np

In [8]:
comp_sales = pd.DataFrame({
    "Short Sleeve": [900,50,80],
    "Long Sleeve": [850,1000,70],
    "Shorts": [1000,20,50]
},index=['Summer','Winter','Spring'])

In [9]:
comp_sales

        Short Sleeve  Long Sleeve  Shorts
Summer           900          850    1000
Winter            50         1000      20
Spring            80           70      50

In [19]:
comp_sales.loc[['Summer','Spring'], 'Shorts']

Summer    1000
Spring      50
Name: Shorts, dtype: int64

In [21]:
comp_sales.loc['Summer', 'Shorts'] / comp_sales.loc['Spring', 'Shorts']

np.float64(20.0)

In [45]:
# Code: Assign a to look at comp__sales dataframe, and get me the index that has long 
# sleeve greater than 70, and short sleeves less than 100.
a = comp_sales[(comp_sales['Long Sleeve'] > 70) & (comp_sales['Short Sleeve'] < 100)]
a
#Result: Only Winter sales meets requirements

        Short Sleeve  Long Sleeve  Shorts
Winter            50         1000      20

In [30]:
a[['Short Sleeve','Long Sleeve']]

        Short Sleeve  Long Sleeve
Winter            50         1000

In [ ]:
#Prints everything that has long sleeve greater than 70 or short sleeve less than 100
b = comp_sales[(comp_sales['Long Sleeve'] > 70) | (comp_sales['Short Sleeve'] < 100)]
b

        Short Sleeve  Long Sleeve  Shorts
Summer           900          850    1000
Winter            50         1000      20
Spring            80           70      50

In [54]:
b.loc['Summer'].drop(['Short Sleeve'])

Long Sleeve     850
Shorts         1000
Name: Summer, dtype: int64

In [55]:
b

        Short Sleeve  Long Sleeve  Shorts
Summer           900          850    1000
Winter            50         1000      20
Spring            80           70      50

In [ ]:
#Describes the column shorts from summer to spring.
b['Shorts'].describe()

count       3.000000
mean      356.666667
std       557.344896
min        20.000000
25%        35.000000
50%        50.000000
75%       525.000000
max      1000.000000
Name: Shorts, dtype: float64

In [ ]:
#How many unique values we have?
b['Shorts'].nunique()

3